<div id="<%= dom_id author %>">
  <p>
    <strong>Name:</strong>
    <%= author.name %>
  </p>

  <p>
    <strong>Image :</strong>
    <% if author.profile_image.attached? %>
      <%= image_tag author.profile_image %>
    <% else %>
      <p>No image available</p>
    <% end %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= author.date_of_birth %>
  </p>

  <p>
    <strong>Country of origin:</strong>
    <%= author.country_of_origin %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= author.description %>
  </p>

</div>
